2022/src/shares/__pycache__
2022/src/shares/shares.py
20022/src/static/*
2022/tf/.terraform
2022/tf/.terraform.lock.hcl
2022/tf/terraform.tfstate
2022/tf/terraform.tfstate.backup
2022/tf/src/__pycache__

**/node_modules/

2024/iot/backend/credible-bank-198114-3ae1f541a8d0.json
2024/iot/backend/Makefile
